    <!DOCTYPE html>
    <html lang="en">

    {{>head}}

    <body>

    <!-- navigation -->
    {{>header}}
    <!-- navigation -->

    <!-- main body -->
        

    <div class="container mx-auto my-12 p-4  flex  flex-wrap md:flex-nowrap md:my-24 md:align-middle ">
        <!-- Your content goes here -->
        <div class="text-center mx-auto md:text-left md:w-2xl md:pr-12 md:align-middle md:my-10">
        <h2 class="text-4xl ">WELCOME TO THE WEATHER APP</h2>
        <h3 class="mt-2 mb-4 text-ellipsis">Get latest weather update of your city!</h3>
        <button class="hover:bg-gray-600 bg-gray-800 py-2 px-8 text-white border-spacing-3 rounded-md" ><a href="/weather">SEARCH</a></button>
        </div>
        <div class=" my-16 md:pl-16 md:justify-center md:my-auto">
        <img  class="img " src="Images/i5.png" alt="">
        </div>
    </div>
    <!-- main body -->

    <!-- footer -->
    {{>footer}}
    <script src="js/main.js">
        
    </script>
    </body>

    </html>