.img{
    width: 600px;
}

.myImg{
    width: 250px;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mainBox{
    width: 43%;
    height: 23%;
    border-radius: 20px;
    background-color: rgb(139, 154, 222);
}


#weathercon {
    margin: auto 80px;
    font-size: 50px;
}

#weathercon p i{
    animation: move 2s ease-in-out infinite alternate;
}

.location i{
    animation: zomeinOut 2s ease-in-out infinite alternate;
}

@keyframes move {
    0% {
        transform: translateX(10px);
    }

    25% {
        transform: translateY(10 px);
    }

    50% {
        transform: translateX(-10 px);
    }

    75% {
        transform: translateY(-10 px);
    }


    /* to {
        font-size: 50px;
    }
    from{
        font-size: 75px;
    } */
}



.info {
    width: 100%;
    text-align: center;
    margin: auto;
}

.location {
    font-size: 45px;
    margin: 10px;
    font-weight: 500;
}

.icon {
    margin-right: 10px;
}

#date {
    margin: 10px 0px;
    font-size: 15px;
    word-spacing: 8px;
    font-weight: 200;
}

.temp {
    font-size: 40px;
    margin: 15px;
    font-weight: 500;
}

.tempmin_max {
    margin: 10px 0px;
    font-size: 15px;
    word-spacing: 8px;
    font-weight: 200;
}



@media (max-width: 480px) {
    .mainBox{
        width: 90%;
        height: 60%;
        border-radius: 20px;
        padding-bottom: 50px;
    }
    .weatherCon{
        font-size: 50px;
    }

    .info {
        width: 100%;
        text-align: center;
        margin: auto;   
    }

    .location {
        font-size: 45px;
        margin: 10px;
        font-weight: 500;
    }

    .icon {
        margin-right: 10px;
    }

    #date {
        margin: 10px 0px;
        font-size: 15px;
        word-spacing: 8px;
        font-weight: 200;
    }

    .temp {
        font-size: 40px;
        margin: 15px;
        font-weight: 500;
    }

    .tempmin_max {
        margin: 10px 0px;
        font-size: 15px;
        word-spacing: 8px;
        font-weight: 200;
        padding-bottom: 20px;
    }

  }

.btn{
    background-color: rgb(50, 45, 45);
    color: white;
}


.btn:hover{
    background-color: rgb(74, 67, 67);
}

.search{
    background-color: #fff;
}


.search:focus{
    border: none;
}

.warning-hidden {
  position: fixed;
  top: 20%;
  right: -100%;
  transform: translateY(-50%);
  background-color: rgb(136, 7, 7);
  color: rgb(255, 255, 255);
  padding: 10px 18px;
  transition: right 0.5s ease-in-out;
}

.warning-visible {
  right: 0;
}